.container {
    max-width: 950px;
    margin: 0 auto;   
}
@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/buttons.scss';
@import 'blocks/advantages.scss';
@import 'blocks/consultation.scss';
@import 'blocks/title.scss';
@import 'blocks/forms.scss';
@import 'blocks/carousel.scss';
@import 'blocks/catalog.scss';



@media (max-width: 769px) {
    .promo {
        &__wrapper {
            margin-top: 40px;
            align-items: center;
        }
        &__icons {
            display: block;
        }
        &__icon {
            margin-top: 30px;
            font-size: 25px;
            line-height: 25px;
            font-weight: 400;
            img {
                width: 100px;
            }
        }
        &__link {
            font-size: 25px;
            margin-top: 25px;
        }
    }
    .header__official {
        display: none;
    }
    .header__contacts {
        display: none;
    }
    .header__logo {
        margin: 0 auto;
        width: 400px;
    }
    .button_main {
        font-size: 25px;
        width: 300px;
        height: 80px;
    }
    .advantages {
        &__header {
            font-weight: 500;
            font-size: 35px;
        }
        &__icons {
            display: block;
            width: 100%;
        }
        &__icon {
            margin-top: 55px;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            span {
                font-size: 22px;
            }
            img {
                width: 120px;
            }
            p {
                font-size: 20px;
            }
        }
        &__wrapper {
            width: 100%;
        }
    }
    .feed-form {
        input {
            font-size: 25px;
            font-weight: 500;
        }
    }
    .button {
        &_submit {
            font-size: 20px;
            font-weight: 700;
        }
    }
}

@media (max-width: 992px) {
    .carousel {
        &__inner {
            width: 500px;
            img {
                width: 400px;
                margin: 0 auto;
            }
            .slick-dots {
                display: flex;
                justify-content: center;
                list-style-type: none;
                li {
                    button {
                        height: 15px;
                        width: 50px;
                        background-color: grey;
                        margin-top: 20px;
                        margin-right: 10px;
                        border-radius: 5%;
                        font-size: 0px;
                    }
                }
                li.slick-active {
                    button {
                        background-color: red;
                        height: 20px;
                        width: 60px;
                    }
                }
            }
        }
    }
}

