.consultation {
    min-height: 680px;
    padding-top: 100px;
    padding-bottom: 92px;
    background: url('../img/consultation.jpg');
    &__descr {
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
    }
}
